# Preliminary: Install and Important Packages

In [66]:
! pip install kaleido

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: kaleido in /usr/local/lib/python3.8/dist-packages (0.2.1)

In [67]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import decimal
from datetime import datetime, date, timedelta, timezone
from dateutil.relativedelta import relativedelta
import plotly.offline as py     
import plotly.graph_objects as go
from plotly.subplots import make_subplots
import plotly.figure_factory as ff
from scipy import stats
from sklearn.linear_model import LinearRegression
from sklearn import datasets, linear_model
import statsmodels.api as sm
import plotly.colors as pc
import ipywidgets as ipw

In [68]:
!wget https://github.com/plotly/orca/releases/download/v1.2.1/orca-1.2.1-x86_64.AppImage -O /usr/local/bin/orca
!chmod +x /usr/local/bin/orca
!apt-get install xvfb libgtk2.0-0 libgconf-2-4

--2023-02-19 03:59:11--  https://github.com/plotly/orca/releases/download/v1.2.1/orca-1.2.1-x86_64.AppImage
Resolving github.com (github.com)... 140.82.114.3
Connecting to github.com (github.com)|140.82.114.3|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/99037241/9dc3a580-286a-11e9-8a21-4312b7c8a512?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20230219%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230219T035912Z&X-Amz-Expires=300&X-Amz-Signature=03956ba37467b3438b0804136e2c55ce5c3fa9c63cf8fd3bbdaf785d33188e96&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=99037241&response-content-disposition=attachment%3B%20filename%3Dorca-1.2.1-x86_64.AppImage&response-content-type=application%2Foctet-stream [following]
--2023-02-19 03:59:12--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/99037241/9dc3a580-286a-11e9-8a21-4312b7c8a512?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20230219%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230219T035912Z&X-Amz-Expires=300&X-Amz-Signature=03956ba37467b3438b0804136e2c55ce5c3fa9c63cf8fd3bbdaf785d33188e96&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=99037241&response-content-disposition=attachment%3B%20filename%3Dorca-1.2.1-x86_64.AppImage&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 51607939 (49M) [application/octet-stream]
Saving to: ‘/usr/local/bin/orca’

/usr/local/bin/orca 100%[===================>]  49.22M  86.3MB/s    in 0.6s

2023-02-19 03:59:12 (86.3 MB/s) - ‘/usr/local/bin/orca’ saved [51607939/51607939]

Reading package lists... Done
Building dependency tree
Reading state information... Done
libgtk2.0-0 is already the newest version (2.24.32-4ubuntu4).
libgconf-2-4 is already the newest version (3.2.6-6ubuntu1).
xvfb is already the newest version (2:1.20.13-1ubuntu1~20.04.6).
The following package was automatically installed and is no longer required:
  libnvidia-common-510
Use 'apt autoremove' to remove it.
0 upgraded, 0 newly installed, 0 to remove and 21 not upgraded.

# Import Data

In [69]:
HL = pd.read_csv('https://raw.githubusercontent.com/Rising-Stars-by-Sunshine/stats201-PS2-Yiyang/main/data/Queried_Data/life-expectancy.csv',parse_dates=['Year'])
HL.head()

        Entity Code  Year  Life expectancy at birth (historical)
0  Afghanistan  AFG  1950                                   27.7
1  Afghanistan  AFG  1951                                   28.0
2  Afghanistan  AFG  1952                                   28.4
3  Afghanistan  AFG  1953                                   28.9
4  Afghanistan  AFG  1954                                   29.2

# Process Data

In [70]:
HL1=HL.drop(HL.index[3574:])
CHL=HL1.drop(HL1.index[0:3497])
CHL.head(77)

     Entity Code  Year  Life expectancy at birth (historical)
3497  China  CHN  1930                                   32.0
3498  China  CHN  1934                                   34.0
3499  China  CHN  1936                                   35.0
3500  China  CHN  1942                                   37.0
3501  China  CHN  1949                                   41.0
...     ...  ...   ...                                    ...
3569  China  CHN  2017                                   77.2
3570  China  CHN  2018                                   77.7
3571  China  CHN  2019                                   78.0
3572  China  CHN  2020                                   78.1
3573  China  CHN  2021                                   78.2

[77 rows x 4 columns]

In [71]:
CHL=CHL.drop('Entity',1)
CHL=CHL.drop('Code',1)
CHL.head(77)

<ipython-input-71-ccded9568891>:1: FutureWarning:

In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only

<ipython-input-71-ccded9568891>:2: FutureWarning:

In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only

      Year  Life expectancy at birth (historical)
3497  1930                                   32.0
3498  1934                                   34.0
3499  1936                                   35.0
3500  1942                                   37.0
3501  1949                                   41.0
...    ...                                    ...
3569  2017                                   77.2
3570  2018                                   77.7
3571  2019                                   78.0
3572  2020                                   78.1
3573  2021                                   78.2

[77 rows x 2 columns]

# Export Data

In [72]:
CHL.to_csv("CHL.csv")